# Игнорировать папку .idea
   .idea/
   # Кэш Python
   __pycache__/
   venv/
   *.pyc
   # Системные файлы
   .DS_Store

   # Логи и кэш
   *.log
   .pytest_cache/
   logs/
   *.log
   __pycache__/
   *.py[cod]
   .env
